@import './index.scss';

main {
  text-align: center;
  line-height: 2rem;
  width: clamp(300px, 88vw, 480px);

  h1 {
    font-size: 1.3rem;
    font-weight: 900;
  }

  h2 {
    font-size: 1rem;
    font-weight: 400;
  }
  .intro{
    background: url('./assets/pattern-circles.svg') no-repeat center;
    padding-block: 50px;
  }
  article {
    background: $white;
    border-radius: 10px;
    box-shadow: 2px 8px 12px rgba($dark-blue, .2);
    padding-block: 40px;

    .return {
        padding-bottom: 30px;
      p {
        text-transform: uppercase;
        font-weight: 600;

      }

      .value {
        text-transform: uppercase;
        display: flex;
        align-items: center;
        justify-content: center;

        p {
          font-weight: 800;
          font-size: 2.2rem;
          margin-right: 4px;
        }

        .period {
          text-transform: lowercase;
        }
      }

      .period {
        font-size: 1rem;
      }
    }

    .subscription-container {
      display: flex;
      justify-content: center;
      flex-shrink: 1;
      flex-grow: 0;
      align-items: center;

      .checkbox{
        margin-inline: 10px;
      }

      .discount {
        line-height: normal;
        background: $bg-discount;
        color: $light-red;
        font-weight: 600;
        border-radius: 8px;
        padding: 0 8px;
        align-self: center;
        margin-left: 5px;
      }
    }
  }


}

footer {
  border-top: 1px solid $slider-bar;

  ul {
    list-style: $list-style-check inside;
    margin-block: 20px;
  }

  button {
    background: $dark-blue;
    color: $white;
    padding: 10px 40px;
    border-radius: 30px;
    cursor: pointer;
    transition: .4s;
    &:hover{
      box-shadow: 1px 4px 4px rgba($dark-blue, .5);
    }
  }
}

input[type="range"] {
  appearance: none;
  overflow: hidden;
  width: 80%;
  margin-block: 35px;
}

input[type="range"]::-webkit-slider-thumb {
  height: 40px;
  aspect-ratio: 1;
  border-radius: 50%;
  /*Bolinha*/
  box-shadow: 40px 0 0 0px inset $strong-cyan ;
  /*Progresso*/
  border-image: linear-gradient(90deg, $softcyan , 50%, $slider-bar 0) 0 1/calc(50% - 8px/2) 100vw/0 calc(100vw);
  -webkit-appearance: none;
  appearance: none;
  transition: .3s;
  cursor: pointer;
}

.checkbox.active{
  background: $strong-cyan;

}

input[type="checkbox"] {
  appearance: none;
}

.checkbox {
  cursor: pointer;
  width: 40px;
  height: 18px;
  display: flex;
  background: $bg-toggle;
  border-radius: 10px;
  overflow: hidden;
  
  position: relative;
  align-items: center;
  
  .ball {
    display: inline-flex;
    background: $white;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    position: absolute;
    z-index: 100;
    transition: .4s;
    top: 1.4px;
    left: 2px;
  }
}

input[type="checkbox"]:checked+.ball {
  overflow: hidden;
  left: calc(97% - 15px);
}

@media screen and (min-width: 768px) {
  .intro{
    margin-bottom: 30px;
    h1 {
      font-size: 1.8rem !important ;
      font-weight: 900;
      padding-bottom: 8px;
    }

    h2{
      display: inline;
    }
  }

  .return{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    .views{
      order: 0;
    }
    .value{
      order: 1;
    }
    .range{
      order: 2;
      margin-bottom: 0;
    }
  }

  .subscription-container{
    margin-bottom: 40px;
  }

  footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: left;
  }
}